{% extends 'base.html' %}

{% block login %}


     <form class="form-signin" action="/auth/login/" method="post">

         {% if auth_error %}
         <div class="form-label-group">
            <div class="alert alert-danger" role="alert">{{ auth_error }}</div>
         </div>
         {% endif %}

      <div class="form-label-group">
        <input type="text" id="inputLogin" name="inputLogin" class="form-control" placeholder="Логин" required autofocus>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Пароль" required>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

    </form>

{% endblock %}