@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.loader {
    width: 100px;
}

.test_complete_title {
    font-size: 2em;
    font-weight: bold;
}

.manage_answer_delimiter {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

label {
    cursor: pointer;
    margin: 1px 1px 1px 1em;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    right: 9000px;
}

/*Check box*/
input[type="checkbox"] + .label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    color: #6c757d;
}

input[type="checkbox"]:checked + .label-text:before {
    content: "\f14a";
    color: #007bff;
    animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text {
    color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before {
    content: "\f0c8";
    color: #ccc;
}

/*Radio box*/

input[type="radio"] + .label-text:before {
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
    color: #6c757d;
}

input[type="radio"]:checked + .label-text:before {
    content: "\f192";
    color: #007bff;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text {
    color: #aaa;
}

input[type="radio"]:disabled + .label-text:before {
    content: "\f111";
    color: #ccc;
}

.answers {
    display: grid;
}

@keyframes effect {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.3);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.progress {
    height: 1.1rem;
    background-color: #1c4f7c;
}

.progress-label {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

.question-form {
    box-shadow: 8px 12px 2rem 0px rgba(0, 0, 0, 0.3);
}

.no-radius {
    border-radius: 0;
}

.no-border {
    border: none;
}

tr.compare-question td {
    color: #6d6d6d;
    font-weight: bold;
    padding-bottom: 0;
}

tr.compare-answer td {
    border: none;
    padding-top: 0.3rem;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.searchCount {
    padding: 8px;
    color: #ccc;
}

.table-hover tr.nohover:hover {
  background: none;
}

tr.teacher-users th {
    border: none;
    padding-bottom: 0.4rem;
}

tr.teacher-search th {
    border: none;
    margin: 0px;
}

.teacher-users th:hover {
    cursor: pointer;
}