<div class="cards">
    {% for key, value in answers.items %}
        <div>
             {{forloop.counter}}. {{ key }} - <strong> {{ value }}</strong>
        </div>
        <hr class="manage_answer_delimiter"/>
    {% empty %}
        <div class="alert alert-dark" role="alert">
            Ответов на данный тест не найдено.
        </div>
    {% endfor %}
</div>