<div class="cards">
    {% for key, value in results.items %}
        <div>
            {{ forloop.counter }}. {{ key }} - <strong> {{ value }}</strong>
        </div>
    {% empty %}
        <div class="alert alert-dark" role="alert">
            Результатов на данный тест не найдено.
        </div>
    {% endfor %}
</div>