<div class="cards">
    {% if answers %}
    {% regroup answers|dictsort:"question.pk" by question.question_desc as answers_group %}
    <table>
        <thead>
        <tr>
            <th scope="col">Мать</th>
            <th scope="col">Отец</th>
        </tr>
        </thead>
        <tbody>
        {% for question in answers_group %}
            <tr class="compare-question">
                <td colspan="2">{{ question.grouper }}</td>
            </tr>
            <tr class="compare-answer">
                {% for answer in question.list %}
                    <td>{{ answer.answer.description }} ({{ answer.ball }})</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr class="manage_answer_delimiter"/>
    {% else %}
    <div class="alert alert-dark" role="alert">
        Ответов на данный тест не найдено.
    </div>
    {% endif %}
</div>