<div class="cards">
    {% for test in test_filtering %}
        <div class="card mb-1">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{ test.user.profile.full_name }}, {{ test.user.profile.school_class }} {% if test.again_pass %} повторное прохождние{% endif %}</h5>
                        <p class="card-text">
                            Дата прохождения: {{ test.date_pass }}
                            {% if not test.conclusion %}
                                <span class="badge badge-secondary">Нет заключения</span>
                            {% else %}
                                <span class="badge badge-primary">Заключение добавлено</span>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-auto">
                        <a href="/test/info/{{ test.id }}/" class="btn btn-outline-primary">
                            Посмотреть
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="alert alert-dark" role="alert">
            Не найден ни один тест, удовлетворяющий критериям поиска.
        </div>
    {% endfor %}
</div>