<table class="table">
    <thead>
    <tr>
        {% for p_test in tests_passing %}
            <th scope="col">{{ p_test.date_pass }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for conclusion in conclusions %}
            <th>{% if conclusion %}{{ conclusion }}{% else %}Заключение не
                добавлено{% endif %}</th>
        {% endfor %}
    </tr>
    </tbody>
</table>