{% regroup answers|dictsort:"question.pk" by question.question_desc as answers_group %}
<table class="table">
    <thead>
    <tr>
        {% for p_test in tests_passing %}
            <th scope="col">{{ p_test.date_pass }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for question in answers_group %}
        <tr class="compare-question">
            <td colspan="{{ t_count }}">{{ question.grouper }}</td>
        </tr>
        <tr class="compare-answer">
            {% for answer in question.list %}
                <td>{{ answer.answer.description }} ({{ answer.ball }})</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>