<div class="col">
    <div class="answer-form">
        <div class="progress no-radius">
            <div class="progress-label">Вопрос <span id="q_id">{{ q_id }}</span> из <span
                    id="q_number">{{ questions_number }}</span></div>
            <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="p-2">
            <h3> {{ question.question_desc }}</h3>
            <div class="answers">
                {% for answer in answers %}
                    <label>
                        {% if manyanswers %}
                            <input type="checkbox" class="checkbox" name="checkbox" value="{{ answer.number }}">
                        {% else %}
                            <input type="radio" id="radio" class="radio" name="checkbox" value="{{ answer.number }}">
                        {% endif %}
                        <span style="font-size: large" class="label-text">{{ answer.answer.description }}</span><br>
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</div>