<table class="table">
    <thead>
    <tr>
        {% for p_test in tests_passing %}
            <th scope="col">{{ p_test.date_pass }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for key, value in results.items %}
        <tr class="compare-question">
            <td colspan="{{ t_count }}">{{ key }}</td>
        </tr>
        <tr class="compare-answer">
            {% for result in value %}
                <td>{{ result }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>