{% extends 'base.html' %}
{% load staticfiles %}

{% block tests %}

    <h3>Активные тесты:</h3>
    <div class="cards">
        {% for key, value in tests.items %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ key.name }}</h5>
                            <p class="card-text">{{ key.description }}</p>
                        </div>
                        <div class="col-md-auto">
                            <a href="/test/passed/{{ key.id }}/" class="btn btn-outline-primary
                                {% if value == 0 %} disabled {% endif %} ">
                                Посмотреть <span class="badge badge-light">{{ value }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-dark" role="alert">
                Нет доступных тестов для просмотра.
            </div>
        {% endfor %}
    </div>


{% endblock %}