{% extends 'base.html' %}
{% load staticfiles %}

{% block tests %}

    <h3>{{ test_passing.test.name }}: {{ test_passing.user.profile.full_name }}</h3>

    <div class="main-container">
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-primary" href="/test/passed/{{ test_passing.test.pk }}/" role="button">Вернуться</a>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#parentModalLong">Анкета родителей
                </button>
                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#teacherModalLong">Анкета преподавателя
                </button>
                <a class="btn btn-outline-primary" href="/download/{{ test_passing.id }}/" role="button">Скачать
                    результаты</a>
                {% if p_test_len <= 1 %}<span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                              title="Не с чем сравнивать">{% endif %}
                <a class="btn btn-outline-primary {% if p_test_len <= 1 %}disabled{% endif %}"
                   href="/test/compare/{{ test_passing.pk }}/{{ test_passing.user.pk }}/" role="button">Сравнить</a>
                {% if p_test_len <= 1 %} </span> {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="answers-container">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#collapse-answers"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        Ответы на вопросы
                    </a>
                </div>
                <div class="collapse show" id="collapse-answers">
                    <div class="card card-body">
                        <div id="loader-container-answers" class="loader-container mt-2 text-center"
                             style="display: none;">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка списка ответов на вопрос'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                        <div id="data-container-answers" class="data-container">
                            <!-- Сюда добавятся записи после выполнения Ajax-запроса -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="results-container">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#collapse-results"
                       role="button" id="test-result-load"
                       aria-expanded="false" aria-controls="collapseExample">
                        Результаты тестирования
                    </a>
                </div>
                <div class="collapse" id="collapse-results">
                    <div class="card card-body">
                        <div id="loader-container-results" class="loader-container mt-2 text-center" style="">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка результатов тестирования'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                        <div id="data-container-results" class="data-container">
                            <!-- Сюда добавятся записи после выполнения Ajax-запроса -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="conclusion-container">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#collapse-conclusion"
                       role="button" aria-expanded="false">
                        Заключение к тесту
                    </a>
                </div>
                <div class="collapse" id="collapse-conclusion">
                    <div class="card card-body">
                        <div class="alert alert-success no-radius" role="alert" style="display: none;">
                            Заключение сохраненно
                        </div>
                        <div class="alert alert-danger no-radius" role="alert" style="display: none;">
                            Ошибка сохранения, заключение не было сохраненно. Повторите попытку позже
                        </div>
                        <div id="data-container-conclusion" class="form-group">
                            <textarea id="conclusion" class="form-control"
                                      placeholder="Добавьте заключение по результатам тестирования">{{ test_passing.conclusion|default_if_none:"" }}</textarea>
                            <button id="save-conclusion" class="btn btn-primary mt-2">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="parentModalLong" tabindex="-1" role="dialog"
             aria-labelledby="parentModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="parentModalLongTitle">Анкета родителей</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="relation-data-container">
                        <div id="loader-container-relation-results" class="loader-container mt-2 text-center" style="">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка результатов тестирования'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="teacherModalLong" tabindex="-1" role="dialog"
             aria-labelledby="teacherModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="teacherModalLongTitle">Анкета преподавателя</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="relation-teacher-data-container">
                        <div id="loader-container-relation-results" class="loader-container mt-2 text-center" style="">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка результатов тестирования'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        init();

        function init() {
            window.onload = function () {
                if (window.jQuery) {
                    $(document).ready(function () {
                        load_answers();
                        load_result();

                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        });

                        $('#save-conclusion').click(function () {
                            save_conclusion()
                        });

                        $('#parentModalLong').on('shown.bs.modal', function () {
                            load_relation_answer(true);
                        });

                        $('#teacherModalLong').on('shown.bs.modal', function () {
                            load_relation_answer();
                        })

                    });
                } else {
                    setTimeout(init, 300);
                }
            }
        }

        function save_conclusion() {
            var test_id = {{ test_passing.pk }};
            var conclusion = $('#conclusion').val();

            $.ajax({
                data: {
                    'p_test_id': test_id,
                    'conclusion': conclusion
                },
                type: 'POST',
                url: '/test/save_conclusion/',
                success: function () {
                    $("#conclusion").val(conclusion);
                    $(".alert-success").show();
                },
                error: function () {
                    $(".alert-danger").show();
                },
                complete: function () {

                }
            });
        }

        function load_answers() {

            var test_id = {{ test_passing.pk }};

            $('#loader-container-answers').hide();
            $('#data-container-answers').show();

            $.ajax({
                data: {
                    'p_test_id': test_id,
                },
                type: 'GET',
                url: '/test/ajax_answers/',
                success: function (data) {
                    $('#data-container-answers').html(data);
                },
                error: function () {

                },
                complete: function () {
                    $('#data-container-answers').show();
                    $('#loader-container-answers').hide();
                }
            });
        }

        function load_result() {
            var test_id = {{ test_passing.pk }};

            $('#loader-container-results').show();
            $('#data-container-results').hide();

            $.ajax({
                data: {
                    'p_test_id': test_id,
                },
                type: 'GET',
                url: '/test/ajax_result/',
                success: function (data) {
                    $('#data-container-results').html(data);
                }
                ,
                error: function () {
                }
                ,
                complete: function () {
                    $('#data-container-results').show();
                    $('#loader-container-results').hide();
                }
            });

        }

        function load_relation_answer(parent) {
            var test_id = {{ test_passing.pk }};
            $('#loader-container-relation-results').show();

            $.ajax({
                data: {
                    'p_test_id': test_id,
                    'parent': parent
                },
                type: 'GET',
                url: '/test/ajax_relation_answer/',
                success: function (data) {
                    if (parent === true)
                        $('#relation-data-container').html(data);
                    else
                        $('#relation-teacher-data-container').html(data);
                }
                ,
                error: function () {
                    if (parent === true) $('#relation-data-container').html('<div class="alert alert-dark" role="alert">Ответов на данный тест не найдено.</div>');
                    else $('#relation-teacher-data-container').html('<div class="alert alert-dark" role="alert">Ответов на данный тест не найдено.</div>');
                },
                complete: function () {
                    if (parent)
                        $('#parentModalLong').trigger('focus');
                    else {
                        $('#teacherModalLong').trigger('focus');
                    }
                    $('#loader-container-relation-results').hide();
                }
            });

        }
    </script>

{% endblock %}