{% extends 'base.html' %}
{% load staticfiles %}

{% block tests %}

    <h3>Функции менеджера</h3>
    <div class="cards">
        <div class="card mb-1">
            <div class="card-body">
                <form id="uploadForm" method="POST" enctype="multipart/form-data">
                    <label for="file-test" id="file-input-label" class="btn btn-outline-primary" data-toggle="tooltip"
                           title="Загружаемый файл обязательно должен называться tests.csv!">Загрузка тестов</label>
                    <input type="file" id="file-test" name="file" accept=".csv"
                           style="display: none">
                    <label for="file-profile" id="file-input-label" class="btn btn-outline-primary"
                           data-toggle="tooltip"
                           title="Загружаемый файл обязательно должен называться profiles.csv!">Загрузка
                        пользователей</label>
                    <input type="file" id="file-profile" name="file" accept=".csv"
                           class="btn btn-outline-primary"
                           style="display: none">
                    <label for="file-formulas" id="file-input-label" class="btn btn-outline-primary"
                           data-toggle="tooltip"
                           title="Загружаемый файл обязательно должен называться formuls.csv!">Загрузка
                        формул расчёта</label>
                    <input type="file" id="file-formulas" name="file" accept=".csv"
                           class="btn btn-outline-primary"
                           style="display: none">
                    <label for="file-results" id="file-input-label" class="btn btn-outline-primary"
                           data-toggle="tooltip"
                           title="Загружаемый файл обязательно должен иметь расширение .sqlite3!">Загрузка
                        ответов</label>
                    <input type="file" id="file-results" name="file" accept=".sqlite3"
                           class="btn btn-outline-primary" style="display: none">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#institutionSelect" style="margin-left: 16px">
                        Данные пользователей
                    </button>
                </form>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-body">
                <h5 class="card-title">Текущий импорт</h5>
                <div class="progress no-radius">
                </div>
                <div class="log-container">
                    <div class="card-text log-container">
                        <div class="alert alert-dark" role="alert" id="log-text">
                            В данный момент процесс импорта не выполняется.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-1">
            <div class="card-body history-container">
                <h5 class="card-title">История выполнения импортов</h5>
                <div class="card-text">
                    <div class="alert alert-dark" role="alert">
                        Процесс импорта не выполнялся.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="institutionSelect" tabindex="-1" role="dialog"
         aria-labelledby="institutionSelectTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="institutionSelectTitle">Выберите школу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="institutions">
                        {% for institution in institutions %}
                            <option value={{ institution.id }}>{{ institution.institution_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <a href="/users/load_users_data/1/" class="btn btn-outline-primary">Загрузить</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        init();

        var is_continue = true;
        var time = null;

        function init() {
            window.onload = function () {
                if (window.jQuery) {
                    $('select').on('change', function () {
                        $("a").attr("href", "/users/load_users_data/" + this.value + "/")
                    });

                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    });

                    $('.progress').hide();
                    getHistory();
                    getTime();

                    $('input[type=file]').each(function () {
                        $(this).change(function () {
                            if (checkExtension($(this).val())) {
                                uploadStart();
                            } else {
                                alert('Вы выбрали файл не верного расширения')
                            }
                        })
                    });

                }
                else {
                    setTimeout(init, 300);
                }
            }
        }

        function uploadStart() {
            var options = {
                url: '/upload/upload_file/',
                success: function () {
                    progess();
                },
                complete: function () {
                    is_continue = false;
                    getHistory();
                    getTime();
                    $('#log-text').text('Процесс импорта завершен');
                }
            };

            is_continue = true;
            $('#uploadForm').ajaxSubmit(options);
            $('.progress').show();
            $('#log-text').text('Выполняется процесс импорта');
            progess();
        }

        function progess() {
            $.ajax({
                type: 'POST',
                data: {
                    'time': time
                },
                url: '/import/progress/',
                success: function (data) {
                    $('.progress').html(data);
                },
                error: function () {
                },
                complete: function () {
                    if (is_continue === true) {
                        progess()
                    }
                }
            });
        }

        function getHistory() {
            $.ajax({
                type: 'GET',
                url: '/import/history/',
                success: function (data) {
                    $('.history-container').html(data);
                },
                error: function () {
                },
                complete: function () {

                }
            });
        }

        function getTime() {
            $.ajax({
                type: 'GET',
                url: '/import/time/',
                success: function (data) {
                    time = data;
                },
                error: function () {
                },
                complete: function () {

                }
            });
            return time;
        }

        function checkExtension(data) {
            var filesExt = ['csv', 'sqlite3'];
            var parts = data.split('.');
            return filesExt.join().search(parts[parts.length - 1]) !== -1;
        }

    </script>

{% endblock %}