{% extends 'base.html' %}
{% load staticfiles %}

{% block tests %}

    <h3>Прошли тестирование:</h3>

    <div class="main-container">
        <div class="filter-container">

            <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="input-first-name" class="sr-only">Имя</label>
                    <input type="text" class="form-control" id="input-first-name" placeholder="Имя">
                </div>
                <div class="form-group mx-sm-2 mb-2">
                    <label for="input-second-name" class="sr-only">Фамилия</label>
                    <input type="text" class="form-control" id="input-second-name" placeholder="Фамилия">
                </div>
                <div class="form-group mb-2">
                    <label for="input-school" class="sr-only">Школа</label>
                    <select id="select-school" class="form-control">
                        <option></option>
                        {% for school in schools %}
                            <option>{{ school.institution_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group mx-sm-2 mb-2">
                    <label for="select-class" class="sr-only">Класс</label>
                    <select id="select-class" class="form-control">
                        <option></option>
                        {% for school_class in tests_passing_school_class_filter %}
                            <option>{{ school_class }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="filter" class="btn btn-primary mb-2">Фильтр</button>
                <button id="clear-form" class="btn btn-primary mx-sm-2 mb-2">Очистить</button>
            </form>

        </div>
        <div class="loader-container mt-5 text-center" style="display: none;">
            <img class="loader" src='{% static "image/loader.gif" %}' alt='Загрузка списка'/>
            <div>Пожалуйста подождите, выполняется загрузка.</div>
        </div>
        <div class="data-container">
            <!-- Сюда добавятся записи после выполнения Ajax-запроса -->
        </div>
    </div>

    <script>

        init();

        function init() {
            window.onload = function () {
                if (window.jQuery) {

                    $(document).ready(function () {

                        filter();

                        $('#filter').click(function (event) {
                            filter($('#input-first-name').val(), $('#input-second-name').val(),
                                $('#select-school option:selected').val(), $('#select-class option:selected').val());

                            event.preventDefault();
                        });

                        $('#clear-form').click(function (event) {

                            $('#input-first-name').val('');
                            $('#input-second-name').val('');
                            $('#select-school option:selected').prop("selected", false);
                            $('#select-class option:selected').prop("selected", false);

                            event.preventDefault();
                        });

                    });
                } else {
                    setTimeout(init, 300);
                }
            }
        }

        function filter(first_name, second_name, school, school_class) {

            var test_id = {{ tests_passing_id }};

            $('.data-container').hide();
            $('.loader-container').show();

            $.ajax({
                data: {
                    'test_id': test_id,
                    'first_name': first_name,
                    'second_name': second_name,
                    'school': school,
                    'school_class': school_class
                },
                type: 'POST',
                url: '/test/ajax_passed_filter/',
                success: function (data) {
                    $('.data-container').html(data);
                },
                error: function () {

                },
                complete: function () {
                    $('.data-container').show();
                    $('.loader-container').hide();
                }
            });
        }

    </script>


{% endblock %}