{% extends 'base.html' %}
{% load staticfiles %}

{% block tests %}

    <!-- TODO необходимо декомпозировать -->

    <h3>Тесты для прохождения:</h3>
    <div class="cards">
        {% for key, value in active_tests.items %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ key.name }}</h5>
                            <p class="card-text">{{ key.description }}</p>
                        </div>
                        <div class="col-md-auto">
                            {% if is_teacher %}
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#choice-student" data-whatever="/test/testable/{{ key.id }}/">
                                    Пройти
                                </button>
                            {% else %}
                                <a href="/test/testable/{{ key.id }}/" class="btn btn-outline-primary">{% if value %}
                                    Пройти{% else %}Продолжить{% endif %}</a>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-dark" role="alert">
                Нет доступных тестов для прохождения.
            </div>
        {% endfor %}
    </div>
    <hr/>
    <h3>Пройденные тесты:</h3>
    <div class="cards">
        {% for key, value in passed_tests.items %}
            <div class="card mb-1">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">{{ key.name }}</h5>
                            <p class="card-text">{{ key.description }}</p>
                        </div>
                        <div class="col-md-auto">
                            {% if is_teacher %}
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                        data-target="#choice-student" data-whatever="/test/testable/{{ key.id }}/">
                                    Пройти снова
                                </button> {% else %}
                                <a href="/test/testable/{{ key.id }}/" class="btn btn-outline-primary">{% if value %}
                                    Пройти снова{% else %}Продолжить{% endif %}</a> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="alert alert-dark" role="alert">
                Вы еще не прошли ни одного теста.
            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="choice-student" tabindex="-1" role="dialog"
         aria-labelledby="choice-student-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="choice-student-title">Выберите ученика</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover results">
                        <thead>
                        <tr class="nohover teacher-search" style="padding: 0px">
                            <th colspan="2">
                                <input type="text" style="height: 2em"
                                       class="searchKey form-control"
                                       placeholder="Поиск...">
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for key, value in users.items %}
                            <tr class="teacher-users">
                                <th id="th"
                                    onclick="testable({{ key.user_id }}, this)">{{ key.name_with_abbreviation }} </th>
                                <th style="text-align: end"><p class="card-text">{% if value %}
                                    <span class="badge badge-primary">Тест пройден</span>{% else %}
                                    <span class="badge badge-secondary">Тест не пройден</span>{% endif %}</p></th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        init();

        function init() {
            window.onload = function () {
                if (window.jQuery) {
                    $('#choice-student').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget);
                        var recipient = button.data('whatever');

                        $("[id='th']").each(function () {
                            $(this).attr("id", recipient);
                        });
                    });

                    function createExpr(arr) {
                        var index = 0;
                        var expr = [":containsiAND('" + arr[0] + "')"];
                        for (var i = 1; i < arr.length; i++) {
                            if (arr[i] === 'AND') {
                                expr[index] += ":containsiAND('" + arr[i + 1] + "')";
                                i++;
                            } else if (arr[i] === 'OR') {
                                index++;
                                expr[index] = ":containsiOR('" + arr[i + 1] + "')";
                                i++;
                            }
                        }
                        return expr;
                    }

                    $(document).ready(function () {

                        $(".searchKey").keyup(function () {
                            var searchTerm = $(".searchKey").val().replace(/["']/g, "");
                            var arr = searchTerm.split(/(AND|OR)/);
                            var exprs = createExpr(arr);
                            var searchSplit = searchTerm.replace(/AND/g, "'):containsiAND('").replace(/OR/g, "'):containsiOR('");

                            $.extend($.expr[':'], {
                                'containsiAND': function (element, i, match, array) {
                                    return (element.textContent || element.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
                                }
                            });

                            $('.results tbody tr').attr('visible', 'false');
                            for (var expr in exprs) {
                                $(".results tbody tr" + exprs[expr]).each(function (e) {
                                    $(this).attr('visible', 'true');
                                });
                            }

                        });
                    });
                }
                else {
                    setTimeout(init, 300);
                }
            }
        }

        function testable(user_id, related) {
            var url = related.id;

            document.location.href = url + '?user_id=' + user_id;
        }

    </script>

{% endblock %}