{% extends 'base.html' %}

{% block test %}
    <div class="row">
        <div class="col-8 offset-2">
            <div class="question-form">
                <div class="row question-container" style="min-height: 13em">
                </div>
                <div class="row mistake-alert" style="margin-top: 1em; height: 4em">
                    <div class="col">
                        <div class="alert alert-danger no-radius" role="alert" style="display: none;">
                            Вы не выбрали ни одного варианта ответа, выбирите пожалуйста ответ
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary btn-block no-radius no-border" id="get-question">Следующий
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>

        init();

        function init() {
            window.onload = function () {
                if (window.jQuery) {
                    $('.alert').hide();
                    $(document).ready(function () {
                        var initial_q_id = {{ initial_q_id }};
                        getQuestion(initial_q_id);
                        createDB();

                        // language=JQuery-CSS
                        $('#get-question').click(function (event) {
                            if (check())
                                event.cancel();
                            var q_id = parseInt(document.querySelector('#q_id').textContent);
                            createDB(q_id, getCheckedCheckBoxes());
                            var q_number = parseInt(document.querySelector('#q_number').textContent);
                            if (q_id + 1 === q_number)
                                $('#get-question').text('Завершить');
                            if (q_id === q_number)
                                getQuestion(q_id, true);
                            else
                                getQuestion(q_id + 1);
                            event.preventDefault();
                        });

                    });
                } else {
                    setTimeout(init, 300);
                }
            }
        }

        function getQuestion(q_id, lastQuestion) {
            var test_id = {{ test_id }};

            $('.alert').hide();

            if (!lastQuestion) {
                $.ajax({
                    data: {
                        'test_id': test_id,
                        'q_id': q_id,
                        'last_question': lastQuestion
                    },
                    type: 'GET',
                    url: '/test/next-question/',
                    success: function (data) {
                        $('.question-container').html(data);
                    },
                    error: function () {

                    }
                });
            } else
                document.location.href = "/test/test-complete/{{ test_id }}/";
        }

        function check() {
            var mistake = false;
            var element = document.getElementById('radio');
            $("div.answers").each(function () {
                if (element) {
                    if ($(this).children("label").children("input:radio:checked").length === 0) {
                        $('.alert').show();
                        mistake = true;
                    }
                } else {
                    if ($(this).children("label").children("input:checkbox:checked").length === 0) {
                        $('.alert').show();
                        mistake = true;
                    }
                }
            });
            return mistake
        }

        function getCheckedCheckBoxes() {
            var checkboxes = document.getElementsByClassName('radio');
            if (checkboxes.length === 0) {
                var checkboxes = document.getElementsByClassName('checkbox');
            }
            var checkboxesChecked = []; // можно в массиве их хранить, если нужно использовать
            for (var index = 0; index < checkboxes.length; index++) {
                if (checkboxes[index].checked) {
                    checkboxesChecked.push(checkboxes[index].value); // положим в массив выбранный
                }
            }
            return checkboxesChecked; // для использования в нужном месте
        }

        function editDB(q_id, answers) {
            var test_id = {{ test_id }};

            $.ajax({
                data: {
                    'test_id': test_id,
                    'q_id': q_id,
                    'answers': answers
                },
                type: 'POST',
                url: '/test/edit/'
            });
        }

        function createDB(q_id, answers) {
            var test_id = {{ test_id }};
            var True = true;
            var False = false;
            var None = null;
            var is_test_complete = {{ is_test_complete }};
            var student_id = {{ student_id }};

            $.ajax({
                data: {
                    'test_id': test_id,
                    'test_complete': is_test_complete,
                    'q_id': q_id,
                    'answers[]': answers,
                    'student_id': student_id
                },
                type: 'POST',
                url: '/test/create/'
            });
        }

        function deleteDB(q_id, answers) {
            var test_id = {{ test_id }};

            $.ajax({
                data: {
                    'test_id': test_id,
                    'q_id': q_id,
                    'answers': answers
                },
                type: 'POST',
                url: '/test/delete/'
            });
        }

    </script>
{% endblock %}