{% extends 'base.html' %}
{% load staticfiles %}

{% block test_complite %}
    <div class="row">
        <div class="col-8 offset-2 text-center">
            <img src='{% static "image/test_finish.png" %}' alt='Тест пройден'/>
            <div class="test_complete_title">Тест завершен. Спасибо за ваше участие!</div>
            <a href="/" class="btn btn-primary btn-block mt-4">На главную</a>
        </div>
    </div>
{% endblock %}