{% extends 'base.html' %}
{% load staticfiles %}

{% block tests %}
    <div class="row" style="margin-bottom: 1em">
        <div class="col">
            <a class="btn btn-outline-primary" href="/test/info/{{ t_id }}/" role="button">Вернуться</a>
        </div>
    </div>
    <div id="magicsuggest-onselectionchange"></div>
    <div class="main-container">
        <div class="row mt-3">
            <div class="col">
                <div class="answers-container">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#collapse-answers"
                       role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        Ответы на вопросы
                    </a>
                </div>
                <div class="collapse show" id="collapse-answers">
                    <div class="card card-body">
                        <div id="loader-container-answers" class="loader-container mt-2 text-center"
                             style="">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка результатов тестирования'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                        <div id="data-container-answers" class="data-container">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="results-container">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#collapse-results"
                       role="button" id="test-result-load"
                       aria-expanded="false" aria-controls="collapseExample">
                        Результаты тестирования
                    </a>
                </div>
                <div class="collapse" id="collapse-results">
                    <div class="card card-body">
                        <div id="loader-container-results" class="loader-container mt-2 text-center"
                             style="">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка результатов тестирования'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                        <div id="data-container-results" class="data-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="conclusions-container">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="collapse" href="#collapse-conclusions"
                       role="button" id="test-conclusions-load"
                       aria-expanded="false" aria-controls="collapseExample">
                        Заключения
                    </a>
                </div>
                <div class="collapse" id="collapse-conclusions">
                    <div class="card card-body">
                        <div id="loader-container-conclusions" class="loader-container mt-2 text-center"
                             style="">
                            <img class="loader" src='{% static "image/loader.gif" %}'
                                 alt='Загрузка результатов тестирования'/>
                            <div>Пожалуйста подождите, выполняется загрузка.</div>
                        </div>
                        <div id="data-container-conclusions" class="data-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        init();

        function init() {
            window.onload = function () {
                if (window.jQuery) {
                    $(document).ready(function () {
                        $(function () {
                            var ms = $('#magicsuggest-onselectionchange').magicSuggest({
                                placeholder: 'Выберите результаты прохождения',
                                toggleOnClick: true,
                                data: [{% for key, value in test_passing_for_select.items %}
                                    {% for id, name in value.items %} {
                                        'id': '{{ id }}',
                                        'name': '{{ name }}'
                                    }, {% endfor %}
                                {% endfor %}],
                                value: [{% for value in initial_tests %}'{{ value }}', {% endfor %}],
                                maxSelection: 5,
                                resultsField: 'value'

                            });
                            $(ms).on('selectionchange', function (e, m) {
                                $('div.show').each(function () {
                                    var id = $(this).attr('id');
                                    if (id === 'collapse-answers') {
                                        get_answers(ms.getValue());
                                    }
                                    if (id === 'collapse-results') {
                                        get_results(ms.getValue())
                                    }
                                    if (id === 'collapse-conclusions') {
                                        get_conclusions(ms.getValue())
                                    }
                                });
                            });

                            get_answers(ms.getValue());

                            $('#collapse-answers').on('show.bs.collapse', function () {
                                get_answers(ms.getValue());
                            });


                            $('#collapse-results').on('show.bs.collapse', function () {
                                get_results(ms.getValue());
                            });

                            $('#collapse-conclusions').on('show.bs.collapse', function () {
                                get_conclusions(ms.getValue());
                            });
                        });
                    });
                } else {
                    setTimeout(init, 300);
                }
            }
        }

        function get_answers(tests) {

            $('#loader-container-answers').show();
            $('#data-container-answers').hide();

            $.ajax({
                data: {
                    'tests[]': tests
                },
                type: 'POST',
                url: '/test/answers_for_compare/',
                success: function (data) {
                    $('#data-container-answers').html(data);
                },
                error: function () {

                },
                complete: function () {
                    $('#loader-container-answers').hide();
                    $('#data-container-answers').show();
                }
            });
        }

        function get_results(tests) {

            $('#loader-container-results').show();
            $('#data-container-results').hide();

            $.ajax({
                data: {
                    'tests[]': tests
                },
                type: 'POST',
                url: '/test/results_for_compare/',
                success: function (data) {
                    $('#data-container-results').html(data);
                },
                error: function () {

                },
                complete: function () {
                    $('#loader-container-results').hide();
                    $('#data-container-results').show();
                }
            });
        }

        function get_conclusions(tests) {

            $('#loader-container-conclusions').show();
            $('#data-container-conclusions').hide();

            $.ajax({
                data: {
                    'tests[]': tests
                },
                type: 'POST',
                url: '/test/conclusions_for_compare/',
                success: function (data) {
                    $('#data-container-conclusions').html(data);
                },
                error: function () {

                },
                complete: function () {
                    $('#loader-container-conclusions').hide();
                    $('#data-container-conclusions').show();
                }
            });
        }
    </script>
{% endblock %}