{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Сервис инновационного тестирования</title>

    <link rel="icon" href="{% static "image/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/custom.css" %}"/>
    <link rel="stylesheet" href="{% static "css/magicsuggest-min.css" %}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">С И Т</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if is_manager %}
                <li class="nav-item">
                    <a class="nav-link" href="/">Информации о тестах<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test/management/">Функции менеджера<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Административная часть<span class="sr-only">(current)</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if username %}
                <a class="nav-link" href="/logout/">Выйти ( {{ username }} )</a>
            {% endif %}
        </li>
    </ul>


</nav>

<main role="main" class="container">

    <div class="starter-template">
        {% block tests %}{% endblock %}
        {% block login %}{% endblock %}
        {% block test %}{% endblock %}
        {% block test_complite %}{% endblock %}

    </div>

</main><!-- /.container -->

<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{% static "js/magicsuggest-min.js" %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
</body>
</html>
