<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

        <title>Результаты анкетирования</title>
        <style type="text/css">

            @font-face { font-family: Arial Cyr; src: url('../static/font/Arial_Cyr.ttf'); }

            body {
                font-family: Arial Cyr;
                font-weight: 200;
                font-size: 16px;
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;

            }

            .title {
                font-size: 22px;
                font-weight: 100;
               /* text-align: right;*/
               padding: 10px 20px 0px 20px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 20px 0px 20px;
                text-align: left !important;
                /*margin-left: 40%;*/
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
        </style>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'> Результаты анкетирования учащегося </p>
            </div>
        </div>
        <div class='details'>
          ФИО:  {{ user.profile.name_with_abbreviation }}<br/>
          Школа {{ user.profile.institution.institution_name }}<br/>
          Класс {{ user.profile.school_class }}<br/>
          Успеваемость: <br/>
          Наличие соматических заболеваний: <br/>
          Болеет острыми респираторными заболеваниями больше 5 раз в год: <br/>
          Состав вашей семьи: <br/>
          Количество детей в семье: <br/>
          Подчеркните заболевания, которыми болел кто-то из родственников: <br/><br/>

          ИЗ АНКЕТЫ УЧАЩЕГОСЯ:<br/>
            {% for value in user_result %}
                {{ forloop.counter }}. {{ value }}; <br/>      
            {% endfor %}

          ИЗ АНКЕТЫ РОДИТЕЛЯ:<br/>
            {% for value in parent_result %}
                {{ forloop.counter }}. {{ value }}; <br/>
            {% endfor %}

          ИЗ АНКЕТЫ ПРЕПОДАВАТЕЛЯ:<br/>
            {% for value in teacher_result %}
                {{ forloop.counter }}. {{ value }}; <br/>
            {% endfor %}
          ЗАКЛЮЧЕНИЕ:_____________________________________________________________ <br/>
          РЕКОМЕНДАЦИИ:___________________________________________________________ <br/>
          Составитель заключения и рекомендаций (Ф.И.О.,должность):______________________ <br/>
          Подпись:_________ Дата:_________ <br/>
        </div>
    </body>
</html>
