<h5 class="card-title">История выполнения импортов</h5>
{% for import in import_history %}
    {% if import.status == 'Успешно' %}
        <div class="card-text">
            <a href="/import/logs/{{ import.id }}/" style="text-decoration: none">
                <div class="alert alert-primary" role="alert">
                    Импорт
                    пользователем {{ import.user.profile.name_with_abbreviation }}: {{ import.file_name }}
                    ({{ import.import_start }})
                </div>
            </a>
        </div>

    {% else %}
        <div class="card-text">
            <a href="/import/logs/{{ import.id }}" style="text-decoration: none">
                <div class="alert alert-danger" role="alert">
                    Импорт
                    пользователем {{ import.user.profile.name_with_abbreviation }}: {{ import.file_name }}
                    ({{ import.import_start }})
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}