{% extends 'base.html' %}
{% block tests %}
    <h3 class="card-title"> Импорт
        пользователем {{ import_history.user.profile.name_with_abbreviation }}: {{ import_history.file_name }}
        ({{ import_history.import_start }})</h3>
    <div class="cards">
        <div class="card mb-1">
            <div class="card-body">
                {% for log in logs %}
                    {% if log.status == "Ошибка" %}
                        <div class="card-text">
                            <div class="alert alert-danger" role="alert">
                                {{ log.comment }}
                            </div>
                        </div>
                    {% endif %}
                    {% if log.status == "Обновление" %}
                        <div class="card-text">
                            <div class="alert alert-warning" role="alert">
                                {{ log.comment }}
                            </div>
                        </div>
                    {% endif %}
                    {% if log.status == "Успешно" %}
                        <div class="card-text">
                            <div class="alert alert-primary" role="alert">
                                {{ log.comment }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}