<div class="progress-label"><span id="q_id">{{ current }}</span> из <span id="q_number">{{ all }}</span></div>
<div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}"
     aria-valuemin="0" aria-valuemax="100">
</div>